# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# import numpy and pandas
import scipy.stats as stats
import numpy as np
import pandas as pd

from statsmodels.stats.proportion import proportions_ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [4]:
# Run this code:

salaries = pd.read_csv('/Users/blancurri/Desktop/Formació/IronHack/Labs/33-lab-hypothesis-testing/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [6]:
salaries.shape

(33183, 8)

In [5]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
pd.notna(salaries)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,True,True,True,True,True,False,True,False
1,True,True,True,True,True,False,True,False
2,True,True,True,True,True,False,True,False
3,True,True,True,True,True,False,True,False
4,True,True,True,True,True,True,False,True
...,...,...,...,...,...,...,...,...
33178,True,True,True,True,True,False,True,False
33179,True,True,True,True,True,False,True,False
33180,True,True,True,True,True,False,True,False
33181,True,True,True,True,True,False,True,False
33182,True,True,True,True,True,False,True,False

In [8]:
salaries.isnull().sum()

#Tenemos un montón de missing values en "Typical hours", "Annual Salary" y en "Hourly rate"

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [11]:
# Cantidad de persona con salario fijo: 25161 - Las mismas con nan en Tipycal hours

salaries[salaries["Salary or Hourly"] == "Salary"].count()

Name                 25161
Job Titles           25161
Department           25161
Full or Part-Time    25161
Salary or Hourly     25161
Typical Hours            0
Annual Salary        25161
Hourly Rate              0
dtype: int64

In [12]:
# Cantidad de persona con salario por horas - Las mismas que con Annual Salary

salaries[salaries["Salary or Hourly"] == "Hourly"].count()

Name                 8022
Job Titles           8022
Department           8022
Full or Part-Time    8022
Salary or Hourly     8022
Typical Hours        8022
Annual Salary           0
Hourly Rate          8022
dtype: int64

In [13]:
# Para verlo más claro:

salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [17]:
# Your code here:
salaries.groupby("Department").count()

,Name,Job Titles,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
Department,,,,,,,
ADMIN HEARNG,39,39,39,39,0,39,0
ANIMAL CONTRL,81,81,81,81,19,62,19
AVIATION,1629,1629,1629,1629,1082,547,1082
BOARD OF ELECTION,107,107,107,107,0,107,0
BOARD OF ETHICS,8,8,8,8,0,8,0
BUDGET & MGMT,46,46,46,46,2,44,2
BUILDINGS,269,269,269,269,0,269,0
BUSINESS AFFAIRS,171,171,171,171,7,164,7
CITY CLERK,84,84,84,84,0,84,0
CITY COUNCIL,411,411,411,411,64,347,64
COMMUNITY DEVELOPMENT,207,207,207,207,4,203,4
COPA,116,116,116,116,0,116,0
CULTURAL AFFAIRS,65,65,65,65,7,58,7
DISABILITIES,28,28,28,28,0,28,0
DoIT,99,99,99,99,0,99,0
FAMILY & SUPPORT,615,615,615,615,287,328,287
FINANCE,560,560,560,560,44,516,44
FIRE,4641,4641,4641,4641,2,4639,2
GENERAL SERVICES,980,980,980,980,765,215,765
HEALTH,488,488,488,488,3,485,3
HUMAN RELATIONS,16,16,16,16,0,16,0
HUMAN RESOURCES,79,79,79,79,4,75,4
INSPECTOR GEN,87,87,87,87,0,87,0
LAW,407,407,407,407,40,367,40
LICENSE APPL COMM,1,1,1,1,0,1,0
MAYOR'S OFFICE,85,85,85,85,8,77,8
OEMC,2102,2102,2102,2102,1273,829,1273
POLICE,13414,13414,13414,13414,10,13404,10
POLICE BOARD,2,2,2,2,0,2,0
PROCUREMENT,92,92,92,92,2,90,2
PUBLIC LIBRARY,1015,1015,1015,1015,299,716,299
STREETS & SAN,2198,2198,2198,2198,1862,336,1862
TRANSPORTN,1140,1140,1140,1140,725,415,725
TREASURER,22,22,22,22,0,22,0
WATER MGMNT,1879,1879,1879,1879,1513,366,1513

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [18]:
# Plantea las hipótesis:

# H0: la hora se paga a 30 dólares
# H1: la hora no se paga a 30 dólares

In [19]:
# Crea la variable donde aplicar el test

sample = salaries['Hourly Rate'].dropna(axis=0)

In [20]:
# Crea la media de referencia

m0 = 30

In [22]:
# Aplica el ttest a la variable y a la media de referencia

score, p_value = stats.ttest_1samp(sample, m0)

p_value

4.3230240486229894e-92

In [ ]:
# Interpretamos el p_value:

#A. Si es más pequeño de 0.05 podemos rechazar la H0
#B. Si es mayor de 0.05, no rechazamos la H0 ya que no tenemos suficientes argumentos

#En este caso ha salido más pequeño de 0.05, así que  rechazamos H0 (la hora se paga a 30 dólares)

In [25]:
# Es más cómodo tenerlo automatizado así:

if p_value<0.05 :
    print(f'Rechaza la H0 ya que el p_value es de {p_value}')
else:
    print(f'No puedes rechazar la H0 ya que el p_value es de {p_value}')

Rechaza la H0 ya que el p_value es de 4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [26]:
# Plantea las hipótesis:

# H0: la media del salario anual es de 86000$ al año
# H1: la media del salario anual es superior a 86000$ al año

In [27]:
# Crea la variable donde aplicar el test:

sample = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna(axis=0)

In [32]:
# Crea la media de la muestra y la de referencia (la que aplicaría a la población)

m = np.mean(sample)
m0 = 86000

m

86486.41450313339

In [29]:
# Aplica el T-test en la muestra

statistic, p_value = stats.ttest_1samp(sample, m0)

p_value

0.0020603403550965137

In [31]:
# Interpretamos el p_value, que en este caso solo tendrá una cola y por eso lo dividimos entre 2:

if (p_value/2)<0.05 :
    print(f'Rechaza la H0 ya que el p_value es de {p_value}')
else:
    print(f'No puedes rechazar la H0 ya que el p_value es de {p_value}')

Rechaza la H0 ya que el p_value es de 0.0020603403550965137

Using the `crosstab` function, find the department that has the most hourly workers.

In [33]:
# Para ver el departamento que tiene más empleados pagados por horas

pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values('Hourly', ascending=False).head(1)

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [37]:
# Platea las hipótesis:

# H0: la hora se paga a 35$ la hora
# H1: la hora se paga a menos de 35$ la hora

In [38]:
# Crea la muestra donde aplicar el test (los valores del pago de la hora de quienes trabajan en el dep "Streets and San")

sample = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate'].dropna(axis=0)
sample

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [39]:
# Crea la media de referencia, la de tu H0

m0 = 35

In [40]:
# Aplica el t-test a tu muestra

statistic, p_value = stats.ttest_1samp(sample, m0)

p_value

3.3378530564707717e-21

In [41]:
# Interpreta el resultado del p_value

if (p_value)<0.05 :
    print(f'Rechaza la H0 ya que el p_value es de {p_value}')
else:
    print(f'No puedes rechazar la H0 ya que el p_value es de {p_value}')

Rechaza la H0 ya que el p_value es de 3.3378530564707717e-21

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [47]:
# Crea tus hipótesis (recupera las del ejercicio anterior):

# H0: la hora se paga a 30 dólares
# H1: la hora no se paga a 30 dólares

In [48]:
# Crea la muestra:

sample = salaries['Hourly Rate'].dropna(axis=0)
confidence = 0.95

sample

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [51]:
# Crea la media de la muestra creada:

m = np.mean(sample)

m

32.78855771628128

In [52]:
# Calcula el standard error:

se = stats.sem(sample)

se

0.1352368565101596

In [53]:
# Indica los grados de libertad

df = len(sample) - 1

stats.t.interval(confidence, df=df, loc = m, scale = se)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [43]:
# Your code here:
sample = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna(axis=0)

confidence = 0.95

# mean
m = np.mean(sample)

# standard error
se = stats.sem(sample)

# degrees of freedom
df = len(sample) - 1

stats.t.interval(confidence, df=df, loc = m, scale = se)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [55]:
#Crea la muestra:

sample = salaries[salaries['Salary or Hourly'] == 'Hourly']

sample

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [57]:
#Cuenta la cantidad de entradas en tu muestra (las personas que cobran por hora, como visto anteriormente)

count = sample.shape[0]

count

8022

In [58]:
# Cuenta la cantidad entradas de tu población

n = len(sample)

n

8022

In [59]:
# Entra el valor de la hipótesis

value = 0.25

In [60]:
# Entra tu intérvalo de confianza, o sea tu alpha

alpha = 0.05

stat, p_value = proportions_ztest(count=count, nobs=n, value=value)

/Users/blancurri/opt/anaconda3/lib/python3.7/site-packages/statsmodels/stats/weightstats.py:671: RuntimeWarning: divide by zero encountered in double_scalars
  zstat = value / std_diff

In [62]:
if (p_value) < alpha :
    print(f'Rechaza la H0 ya que el p_value es de {p_value}')
else:
    print(f'No puedes rechazar la H0 ya que el p_value es de {p_value}')

Rechaza la H0 ya que el p_value es de 0.0