# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('../../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [14]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [16]:
# Your code here:
for i  in salaries.columns:
    print(f'in column {i} there are  {len(salaries[pd.isnull(salaries[i])])} missing values')
    
#len(salaries[pd.isnull(salaries['Typical Hours'])])

in column Name there are  0 missing values
in column Job Titles there are  0 missing values
in column Department there are  0 missing values
in column Full or Part-Time there are  0 missing values
in column Salary or Hourly there are  0 missing values
in column Typical Hours there are  25161 missing values
in column Annual Salary there are  8022 missing values
in column Hourly Rate there are  25161 missing values

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# Your code here:
salaries.value_counts(salaries['Salary or Hourly'])

Salary or Hourly
Salary    25161
Hourly     8022
dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [26]:
# Your code here:
salaries.groupby('Department').count().Name

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [28]:
# Your code here:
from scipy import stats
hourly_workers_df = salaries[salaries['Salary or Hourly'] == 'Hourly']

In [49]:
sample = hourly_workers_df['Hourly Rate']
sample_size = len(hourly_workers_df['Hourly Rate'])
sample_mean = hourly_workers_df['Hourly Rate'].sum() / sample_size

In [50]:
z, p = stats.ttest_1samp(sample,popmean=30,alternative='two-sided')
print(f'since {p} < 0.05, we reject the H0, so the samples have significant different wages')

since 4.3230240486229894e-92 < 0.05, we reject the H0, so the samples have significant different wages

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [69]:
# Your code here:
police_df = salaries[salaries['Department'] == 'POLICE']
annual_df = police_df[police_df['Salary or Hourly'] == 'Salary']
sample = annual_df['Annual Salary']
z, p = stats.ttest_1samp(sample,popmean=86000,alternative='greater')
z, p

(3.081997005712994, 0.0010301701775482569)

In [102]:
print(f'since p < {p} and {z} > 0 we reject the hiphotesis of salaries being equal, and we conclude that the salaries are in fact greater than last year')

since p < 1.6689265282353859e-21 and -9.567447887848152 > 0 we reject the hiphotesis of salaries being equal, and we conclude that the salaries are in fact greater than last year

Using the `crosstab` function, find the department that has the most hourly workers.

In [93]:
# Your code here:
pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])['Hourly'].sort_values().tail(1)

Department
STREETS & SAN    1862
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [101]:
# Your code here:
sample = salaries[salaries['Department'] == 'STREETS & SAN']['Hourly Rate']
z, p = stats.ttest_1samp(sample.dropna(),35,alternative='less')
z, p

(-9.567447887848152, 1.6689265282353859e-21)

In [103]:
print(f'since p < {p} and {z} < 0 we reject the H0 hipothesis and we conclude that salaries are in fact less than 35/hour ')

since p < 1.6689265282353859e-21 and -9.567447887848152 < 0 we reject the H0 hipothesis and we conclude that salaries are in fact less than 35/hour

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [123]:
# Your code here:
confidence = 0.95
hour_df = salaries[salaries['Salary or Hourly'] == 'Hourly']['Hourly Rate']
n = np.mean(hour_df)
std = np.std(hour_df)
confidenceInterval = stats.norm.interval(alpha=confidence,loc=n, scale=std)


stats.t.interval(alpha=0.95, 
                 df=len(hour_df)-1,
                 loc=np.mean(hour_df), scale=stats.sem(hour_df))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [137]:
police_df = salaries[salaries['Department'] == 'POLICE']['Annual Salary'].dropna()
police_df.head()

stats.t.interval(alpha=0.95, 
                 df=len(police_df)-1,
                 loc=np.mean(police_df), scale=stats.sem(police_df))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [143]:
len(hourly_workers_df)/len(salaries)

0.24175029382515142

In [144]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

stat, pval = proportions_ztest(len(hourly_workers_df)/len(salaries), 25/100, alternative='two-sided', value=0.95)

In [145]:
stat, pval

(0.04758676836912079, 0.9620455773950698)

In [146]:
print(f'since {pval} > 0.05 we cannot reject H0, so the number of hourly workers is not significantly different than 25 %')

since 0.9620455773950698 > 0.05 we cannot reject H0, so the number of hourly workers is not significantly different than 25 %